<?xml version='1.0' encoding='UTF-8' ?>

<!--
	Web page that displays the help center for accessing .
	  
	Author: Tyler Patricio, Sean
	Date: April 6th, 2014
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<!-- HEAD -->
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Help Center</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />

	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600'
		rel='stylesheet' type='text/css' />

	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="help.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
	<h:outputScript library="scripts" name="main.js" />
</h:head>

<!-- BODY -->
<h:body>
	<ui:include src="/WEB-INF/templates/header.xhtml" />
<div class="wrap">
	<h1 id="header">Help Center</h1>

	<div class="explanations">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
			<li class="active"><a href="#search" data-toggle="tab">Search</a></li>
			<li><a href="#cart" data-toggle="tab">Cart</a></li>
			<li><a href="#checkout" data-toggle="tab">Checkout</a></li>
			<li><a href="#reviews" data-toggle="tab">Reviews</a></li>
			<li><a href="#signup" data-toggle="tab">Sign Up</a></li>
			<li><a href="#account" data-toggle="tab">Account</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane fade" id="cart">#{msg['cartExplanation']}</div>
			<div class="tab-pane fade in active" id="search">#{msg['searchExplanation']}</div>
			<div class="tab-pane fade" id="checkout">#{msg['checkoutExplanation']}</div>
			<div class="tab-pane fade" id="reviews">#{msg['reviewExplanation']}</div>
			<div class="tab-pane fade" id="signup">#{msg['signupExplanation']}</div>
			<div class="tab-pane fade" id="account">#{msg['accountExplanation']}</div>
		</div>
	</div>
</div>

<ui:include src="/WEB-INF/templates/footer.xhtml" />

	<script>
		$('#cart a').click(function(e) {
			e.preventDefault()
			$(this).tab('show')
		})

		$('#search a').click(function(e) {
			e.preventDefault()
			$(this).tab('show')
		})

		$('#checkout a').click(function(e) {
			e.preventDefault()
			$(this).tab('show')
		})

		$('#reviews a').click(function(e) {
			e.preventDefault()
			$(this).tab('show')
		})

		$('#signup a').click(function(e) {
			e.preventDefault()
			$(this).tab('show')
		})

		$('#account a').click(function(e) {
			e.preventDefault()
			$(this).tab('show')
		})
	</script>
</h:body>
</html>