<?xml version='1.0' encoding='UTF-8' ?>
<!--  
	Authors: Theo De Villeneuve
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>#{msg['bookViewTitle']}</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600'
		rel='stylesheet' type='text/css' />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputStylesheet library="css" name="management_book.css" />
	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="main.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
</h:head>
<h:body>
<f:view locale="#{localeChanger.locale}">
	<div id="wrap">
	<f:event listener="#{managementBean.validateAccount(loginBean.logedin, loginBean.admin)}"
		type="preRenderView" />

		<ui:include src="/WEB-INF/templates/header.xhtml" />

		<div class="container-fluid main-content">

			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#userinfo" data-toggle="tab">User's
							informations</a></li>
					<li><a href="#purchases" data-toggle="tab">User's
							purchases</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active .fade" id="userinfo">
						<div class="footercorrect">
							<h:form styleClass="form-horizontal">
								<legend>#{msg.userTitle1}</legend>
								<fieldset>
									<br />
									<f:event listener="#{managementBean.findclient}"
										type="preRenderView" />
									<div class="rightform">
										<div class="form-group">
											<label class="col-sm-7 control-label" for="city">#{msg.userId}
											</label>
											<div class="col-sm-4">
												<h:inputText styleClass="form-control" id="id"
													value="#{managementBean.editclient.id}" disabled="true">
												</h:inputText>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-7 control-label" for="city">#{msg.userEmail}
											</label>
											<div class="col-sm-4">
												<h:inputText styleClass="form-control" id="email"
													value="#{managementBean.editclient.email}">
												</h:inputText>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-7 control-label" for="city">#{msg.userTitle}

											</label>
											<div class="col-sm-4">
												<h:selectOneMenu id="title" styleClass="form-control"
													value="#{managementBean.editclient.title}">
													<f:selectItems
														value="#{managementBean.editclient.titleValue}" />
												</h:selectOneMenu>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-7 control-label" for="city">#{msg.userLastName}

											</label>
											<div class="col-sm-4">
												<h:inputText styleClass="form-control" id="LastName"
													value="#{managementBean.editclient.lastName}">
												</h:inputText>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-7 control-label" for="city">#{msg.userFirstName}

											</label>
											<div class="col-sm-4">
												<h:inputText styleClass="form-control" id="genre"
													value="#{managementBean.editclient.firstName}">
												</h:inputText>
											</div>
										</div>

										<div class="form-group">
											<label class="col-sm-7 control-label" for="city">#{msg.userCompany}

											</label>
											<div class="col-sm-4">
												<h:inputText styleClass="form-control" id="publisher"
													value="#{managementBean.editclient.company}">
												</h:inputText>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-7 control-label" for="city">
												#{msg.userAddress1} </label>
											<div class="col-sm-4">
												<h:inputText styleClass="form-control" id="nbpages"
													value="#{managementBean.editclient.address1}">
												</h:inputText>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-7 control-label" for="city">#{msg.userAddress2}

											</label>
											<div class="col-sm-4">
												<h:inputText styleClass="form-control" id="address2"
													value="#{managementBean.editclient.address2}">
												</h:inputText>
											</div>
										</div>
									</div>
									<div class="leftform">

										<div class="form-group">
											<label class="col-sm-7 control-label" for="city">#{msg.userCity}

											</label>
											<div class="col-sm-4">
												<h:inputText styleClass="form-control" id="city"
													value="#{managementBean.editclient.city}">
												</h:inputText>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-7 control-label" for="city">#{msg.userProvince}

											</label>
											<div class="col-sm-4">
												<h:inputText styleClass="form-control" id="province"
													value="#{managementBean.editclient.province}">
												</h:inputText>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-7 control-label" for="city">#{msg.userCountry}

											</label>
											<div class="col-sm-4">
												<h:inputText styleClass="form-control" id="country"
													value="#{managementBean.editclient.country}">
												</h:inputText>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-7 control-label" for="city">#{msg.userPostalCode}

											</label>
											<div class="col-sm-4">
												<h:inputText styleClass="form-control" id="postalCode"
													value="#{managementBean.editclient.postalCode}">
												</h:inputText>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-7 control-label" for="city">#{msg.userHomeTelephone}

											</label>
											<div class="col-sm-4">
												<h:inputText styleClass="form-control" id="homeTelephone"
													value="#{managementBean.editclient.homeTelephone}">
												</h:inputText>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-7 control-label" for="city">#{msg.userCellTelephone}

											</label>
											<div class="col-sm-4">
												<h:inputText styleClass="form-control" id="cellTelephone"
													value="#{managementBean.editclient.cellTelephone}">
												</h:inputText>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-7 control-label" for="city">#{msg.userLastSearch}

											</label>
											<div class="col-sm-4">
												<h:inputText styleClass="form-control" id="lastSearch"
													value="#{managementBean.editclient.lastSearch}"
													disabled="true">
												</h:inputText>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-7 control-label" for="city">#{msg.userAdmin}
											</label>
											<div class="col-sm-4">
												<h:selectOneRadio value="#{managementBean.editclient.admin}">
													<f:selectItem itemValue="0" itemLabel="No" />
													<f:selectItem itemValue="1" itemLabel="Yes" />
												</h:selectOneRadio>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-5 col-sm-push-2">
												<h:commandButton type="submit"
													styleClass="btn btn-default btn-success"
													value="#{msg['editButton']}"
													action="#{managementBean.editClient()}">
												</h:commandButton>
											</div>
										</div>
									</div>
								</fieldset>
							</h:form>
						</div>
					</div>
					<div class="tab-pane .fade" id="purchases">
						<div class="footercorrect">
							<h:form>
								<br />
								<b>#{msg.managementDate} </b>
								<rich:calendar id="firstDate" popup="true"
									datePattern="dd/MM/yyyy" value="#{managementBean.firstDate}"></rich:calendar>
								<b> #{msg.managementDate2} </b>
								<rich:calendar id="secondDate" popup="true"
									datePattern="dd/MM/yyyy" value="#{managementBean.secondDate}"></rich:calendar>
								<h:commandButton class="btn btn-default btn-sm " type="submit"
									value="#{msg.submitButton}"
									action="#{managementBean.convertDate}">
									<f:ajax execute="@form" render="@form" />
								</h:commandButton>
									<h:dataTable id="displaypurchase"
										value="#{invoiceAction.getInvoiceClient(managementBean.userParam, managementBean.datetransf, managementBean.datetransf2)}"
										var="invoiceinfo"
										styleClass="table table-striped table-condensed">
										<h:column>
											<f:facet name="header">#{msg.managementSaleSumber}</f:facet>
								#{invoiceinfo.saleNumber}</h:column>
										<h:column>
											<f:facet name="header">#{msg.managementDateOfSale}</f:facet>
								#{invoiceinfo.date} </h:column>
										<h:column>
											<f:facet name="header">#{msg.managementTotalGross}</f:facet>
								#{invoiceinfo.totalGross} </h:column>
									</h:dataTable>

									<b>#{msg.managementTotal} : </b>
									<b>#{msg.canadianDollar}</b>
									<h:outputText
										value="#{invoiceAction.getTotalGross(managementBean.userParam)}" />
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Start of Footer Div -->
	<ui:include src="/WEB-INF/templates/footer.xhtml" />
	<!-- End of Footer Div -->

	<script type="text/javascript">
		function resetvalue() {
			$(document).ready(function() {
				$('#signuporm').ajaxForm(function() {
					this.reset();
					alert('success');
				});
			});
		}

		function checkSelect1(selVal) {
			alert(selVal);
			sel2 = document.getElementById("province");
			if (selVal == "USA") {
				sel2.disabled = true;
			} else {
				sel2.disabled = false;
			}
		}
	</script>
	</f:view>
</h:body>
</html>
