<?xml version='1.0' encoding='UTF-8' ?>
<!--  
	Authors: Theo De Villeneuve
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>#{msg['bookViewTitle']}</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600'
		rel='stylesheet' type='text/css' />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="bootstrap-lightbox.css" />
	<h:outputStylesheet library="css" name="bootstrap-lightbox.min.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputStylesheet library="css" name="bookview.css" />
	<h:outputStylesheet library="css" name="management_book.css" />
	<h:outputStylesheet library="css" name="management.css" />
	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="main.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
	<h:outputScript library="scripts" name="bootstrap-lightbox.js" />
	<h:outputScript library="scripts" name="bootstrap-lightbox.min.js" />
</h:head>
<h:body>
<f:view locale="#{localeChanger.locale}">
	<div id="wrap">
	<f:event listener="#{managementBean.validateAccount(loginBean.logedin, loginBean.admin)}"
		type="preRenderView" />

		<ui:include src="/WEB-INF/templates/header.xhtml" />
		<div class="container-fluid main-content">
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#book" data-toggle="tab">List
							of Books</a></li>
					<li><a href="#addbook" data-toggle="tab">Add a book</a></li>
					<li><a href="#users" data-toggle="tab">List of users</a></li>
					<li><a href="#reviews" data-toggle="tab">List of reviews</a></li>
					<li><a href="#survey" data-toggle="tab">#{msg.managementreport9}</a></li>
					<li><a href="#add" data-toggle="tab">Advertisement management</a></li>
					<li><a href="#report" data-toggle="tab">Reporting</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active .fade" id="book">
						<div class="footercorrect">
							<h:form>
								<h:dataTable id="displaybook" value="#{bookAction.allRecords}"
									var="book" styleClass="table table-striped table-condensed">
									<h:column>
										<f:facet name="header">#{msg.managementBook}</f:facet>
								#{book.title}</h:column>
									<h:column>
										<f:facet name="header">#{msg.managementAuthor}</f:facet>
								#{book.author} </h:column>
									<h:column>
										<f:facet name="header">#{msg.managementNbcopie}</f:facet>
								#{book.numOfCopies} </h:column>
									<h:column>
										<f:facet name="header">#{msg.managementAction}</f:facet>
										<h:link class="btn btn-default btn-sm "
											value="#{msg.managementInfo}" outcome="management_book.xhtml">
											<f:param name="book" value="#{book.isbn13}" />
											<span class="glyphicon glyphicon-zoom-in"></span>
										</h:link>
										<span></span>
										<h:commandLink
											action="#{bookAction.deleteRecord(book.isbn13)}"
											class="btn btn-default btn-danger btn-sm ">
											<span class="glyphicon glyphicon-remove"></span>
											<f:ajax execute="@form" render="@form" />
										</h:commandLink>
									</h:column>
								</h:dataTable>
							</h:form>
						</div>
					</div>
					<div class="tab-pane .fade" id="addbook">
					<ui:include src="/management_newbook.xhtml" />
					</div>
					<div class="tab-pane .fade" id="add">
					<ui:include src="/management_advert.xhtml" />
					</div>
					<div class="tab-pane .fade" id="users">
						<div class="footercorrect">
							<h:form>
								<h:dataTable id="displayuser"
									value="#{clientAction.queryClients}" var="client"
									styleClass="table table-striped table-condensed">
									<h:column>
										<f:facet name="header">#{msg.managementId}</f:facet>
								#{client.id} </h:column>
									<h:column>
										<f:facet name="header">#{msg.managementName}</f:facet>
								#{client.firstName} </h:column>
									<h:column>
										<f:facet name="header">#{msg.managementLastName}</f:facet>
								#{client.lastName} </h:column>
									<h:column>
										<f:facet name="header">#{msg.managementEmail}</f:facet>
								#{client.email} </h:column>
									<h:column>
										<f:facet name="header">#{msg.managementAction}</f:facet>
										<h:link class="btn btn-default btn-sm "
											value="#{msg.managementInfo}" outcome="management_user.xhtml">
											<f:param name="user" value="#{client.email}" />
											<span class="glyphicon glyphicon-zoom-in"></span>
										</h:link>
										<span></span>
										<h:commandLink
											action="#{clientAction.deleteClient(client.id)}"
											class="btn btn-default btn-danger btn-sm ">
											<span class="glyphicon glyphicon-remove"></span>
											<f:ajax execute="@form" render="@form" />
										</h:commandLink>
									</h:column>
								</h:dataTable>
							</h:form>
						</div>


					</div>
					<div class="tab-pane .fade" id="reviews">
						<div class="footercorrect">
							<h:form>
								<h:dataTable id="displaybook"
									value="#{customerReviewAction.queryRecords}" var="reviewinfo"
									styleClass="table table-striped table-condensed">
									<h:column>
										<f:facet name="header">#{msg.managementReviewBook}</f:facet>
								#{managementBean.getBookName(reviewinfo.isbn)}</h:column>
									<h:column>
										<f:facet name="header">#{msg.managementIsbn}</f:facet>
								#{reviewinfo.isbn} </h:column>
									<h:column>
										<f:facet name="header">#{msg.managementReviewName}</f:facet>
								#{reviewinfo.name}</h:column>
									<h:column>
										<f:facet name="header">#{msg.managementReviewDate}</f:facet>
								#{reviewinfo.date} </h:column>
									<h:column>
										<f:facet name="header">#{msg.managementReviewText}</f:facet>
								#{reviewinfo.text} </h:column>
									<h:column>
										<f:facet name="header">#{msg.managementAction}</f:facet>
										<h:commandButton class="btn btn-default btn-sm "
											value="#{msg.managementApproval}"
											rendered="#{not reviewinfo.approval}"
											action="#{managementBean.approval(reviewinfo.key)}">
											<f:ajax execute="@form" render="@form" />
										</h:commandButton>
										<h:commandButton class="btn btn-default btn-sm "
											value="#{msg.managementDisapproval}"
											rendered="#{reviewinfo.approval}"
											action="#{managementBean.approval(reviewinfo.key)}">
											<f:ajax execute="@form" render="@form" />
										</h:commandButton>
									</h:column>
								</h:dataTable>
							</h:form>
						</div>

					</div>
					<div class="tab-pane .fade" id="report">
						<div class="footercorrect">
							<ui:include src="report.xhtml" />
						</div>
					</div>
					<div class="tab-pane .fade" id="survey">
						<br></br> <br />

						<div class="footercorrect">
							<h:form>
								<h:dataTable id="displaysurvey"
									value="#{surveyAction.surveyRecords}" var="survey"
									styleClass="table table-striped table-condensed">
									<h:column>
										<f:facet name="header">#{msg.managementSurveyQuestion}</f:facet>
								#{survey.question}</h:column>
									<h:column>
										<f:facet name="header">#{msg.managementOption}</f:facet>
								#{survey.option1}</h:column>
									<h:column>
										<f:facet name="header">#{msg.managementVote}</f:facet>
								#{survey.votes1}</h:column>
									<h:column>
										<f:facet name="header">#{msg.managementOption}</f:facet>
								#{survey.option2}</h:column>
									<h:column>
										<f:facet name="header">#{msg.managementVote}</f:facet>
								#{survey.votes2}</h:column>
									<h:column>
										<f:facet name="header">#{msg.managementOption}</f:facet>
								#{survey.option3}</h:column>
									<h:column>
										<f:facet name="header">#{msg.managementVote}</f:facet>
								#{survey.votes3}</h:column>
									<h:column>
										<f:facet name="header">#{msg.managementOption}</f:facet>
								#{survey.option4}</h:column>
									<h:column>
										<f:facet name="header">#{msg.managementVote}</f:facet>
								#{survey.votes4}</h:column>
									<h:column>
										<f:facet name="header">#{msg.managementSurveyTotalVote}</f:facet>
								#{survey.totalVotes}</h:column>
									<h:column>
										<f:facet name="header">#{msg.managementAction}</f:facet>
										<h:commandButton class="btn btn-default btn-sm "
											value="#{msg.managementSetSurvey}"
											rendered="#{survey.disable}"
											action="#{managementBean.displaySurvey(survey.surveyId)}">
											<f:ajax execute="@form" render="@form" />
										</h:commandButton>
										<h:commandButton class="btn btn-default btn-sm "
											value="#{msg.managementStopSurvey}"
											rendered="#{not survey.disable}"
											action="#{managementBean.displaySurvey(survey.surveyId)}">
											<f:ajax execute="@form" render="@form" />
										</h:commandButton>
										<span></span>
										<h:commandLink
											action="#{surveyAction.deleteSurvey(survey)}"
											class="btn btn-default btn-danger btn-sm ">
											<span class="glyphicon glyphicon-remove"></span>
											<f:ajax execute="@form" render="@form" />
										</h:commandLink>
									</h:column>
								</h:dataTable>
							</h:form>
							<a class="btn btn-default btn-sm " data-toggle="modal"
								href="#myModal">#{msg.managementCreateSurvey}</a>

							<!-- Modal -->
							<div class="modal fade margintop" id="myModal" tabindex="-1"
								role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog margintop">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-hidden="true">&times;</button>
											<h4 class="modal-title">#{msg.managementCreateSurvey}</h4>
										</div>
										<h:form styleClass="form">
											<div class="modal-body">
												<div class="form-group">
													<label class="col-sm-2 control-label" for="question">#{msg.managementSurveyQuestion}</label>
													<div class="col-sm-5">
														<h:inputText styleClass="form-control" id="question" value="#{surveyBean.question}">
														</h:inputText>
													</div>
												</div>
												<br /> <br />
												<div class="form-group">
													<label class="col-sm-2 control-label" for="option1">#{msg.managementOption}
														1</label>
													<div class="col-sm-3">
														<h:inputText styleClass="form-control" id="option1" value="#{surveyBean.option1}">
														</h:inputText>
													</div>
												</div>
												<br /> <br />
												<div class="form-group">
													<label class="col-sm-2 control-label" for="option2">#{msg.managementOption}
														2</label>
													<div class="col-sm-3">
														<h:inputText styleClass="form-control" id="option2" value="#{surveyBean.option2}">
														</h:inputText>
													</div>
												</div>
												<br /> <br />
												<div class="form-group">
													<label class="col-sm-2 control-label" for="option3">#{msg.managementOption}
														3</label>
													<div class="col-sm-3">
														<h:inputText styleClass="form-control" id="option3" value="#{surveyBean.option3}">
														</h:inputText>
													</div>
												</div>
												<br /> <br />
												<div class="form-group">
													<label class="col-sm-2 control-label" for="option4">#{msg.managementOption}
														4</label>
													<div class="col-sm-3">
														<h:inputText styleClass="form-control" id="option4" value="#{surveyBean.option4}">
														</h:inputText>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default btn-sm "
													data-dismiss="modal">#{msg.managementClose}</button>
												<h:commandButton type="submit" value="#{msg.submitButton}" class="btn btn-default btn-sm " action="#{surveyAction.insertSurvey(surveyBean)}">
								
												</h:commandButton>
											</div>
										</h:form>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<!-- /.modal -->
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>


	<!-- Start of Footer Div -->
	<ui:include src="/WEB-INF/templates/footer.xhtml" />
	<!-- End of Footer Div -->

	<script type="text/javascript">
		function resetvalue() {
			$(document).ready(function() {
				$('#signuporm').ajaxForm(function() {
					this.reset();
					alert('success');
				});
			});
		}

		function checkSelect1(selVal) {
			alert(selVal);
			sel2 = document.getElementById("province");
			if (selVal == "USA") {
				sel2.disabled = true;
			} else {
				sel2.disabled = false;
			}
		}
		$('#myLightbox').lightbox()
	</script>
	</f:view>
</h:body>
</html>
