<?xml version='1.0' encoding='UTF-8' ?>
<!--  
	Author: Sean-Frankel Gaon Canlas
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
			"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Page not found</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />

	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600'
		rel='stylesheet' type='text/css' />

	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputStylesheet library="css" name="page404.css" />
	<h:outputStylesheet library="css" name="jquery.bxslider.css" />

	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
	<h:outputScript library="scripts" name="jquery.bxslider.js" />
	<h:outputScript library="scripts" name="main.js" />
</h:head>
<h:body>
	<div id="wrapper">
		<!-- Start of Header Div -->
		<ui:include src="/WEB-INF/templates/header.xhtml" />
		<!-- End of Header Div -->
		<div id="pusher"></div>

		<div id="msg">
				<h:graphicImage library="images"
			name="logo.png" /> <br></br>
			#{msg['msg404']}
			<h:form>
				<h:link outcome="toHome">#{msg['toHome']}</h:link>
			</h:form>
		</div>
	</div>

</h:body>
</html>