<?xml version='1.0' encoding='UTF-8' ?>
<!--  
	Authors: Theo De Villenueve, Sean-Frankel Gaon Canlas, Jhonatan Orjuela
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Search Results - BookBay</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600' rel='stylesheet' type='text/css' />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputStylesheet library="css" name="results.css" />
	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="main.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
</h:head>
<h:body>
<f:view locale="#{localeChanger.locale}">
	<f:event listener="#{displayBooksBean.searchBooksEngine}"
		type="preRenderView" />
	<div id="wrap">
		<div class="navbar navbar-default navbar-fixed-top">
			<ui:include src="/WEB-INF/templates/header.xhtml" />
		</div>
		<div class="container-fluid">
			<div class="content">
				<div class="results">
					<ui:repeat value="#{displayBooksBean.searchResults}" var="book"
						class="book-result">

						<div class="book-content">
							<h:link outcome="toBookView" styleClass="book-cover">
								<h:graphicImage styleClass="book-cover" library="bookscover"
									name="#{book.bookCoverImg}" />
								<f:param name="isbn13" value="#{book.isbn13}" />
							</h:link>

							<div class="book-info">
								<h:link class="book-title" outcome="toBookView">
								#{book.title}
								<f:param name="isbn13" value="#{book.isbn13}" />
								</h:link>
								<br></br>
								<p class="book-author">by #{book.author}</p>

								<div class="prices-div">
									<p class="price-tag">CDN$</p>
									<p class="book-price">#{book.listPrice}</p>
									<p class="book-rebate">#{book.salePrice}</p>
									<p class="book-type">#{displayBooksBean.changeNumberTypeToString(book.bookType)}</p>
									<f:param name="isbn13" value="#{book.isbn13}" />
								</div>
							</div>
							<ui:repeat var="aReview" value="#{bookReviewAction.getSingleReviewByISBN(book.isbn13)}">
							<div class="book-review">
								<div class="stars">
									<h:graphicImage class="rating-stars" library="images"
										name="star.ico" alt="rating scheme"
										rendered="#{bookReviewAction.displayStarOne(aReview.rating)}" />
									<h:graphicImage class="rating-stars" library="images"
										name="star.ico" alt="rating scheme"
										rendered="#{bookReviewAction.displayStarTwo(aReview.rating)}" />
									<h:graphicImage class="rating-stars" library="images"
										name="star.ico" alt="rating scheme"
										rendered="#{bookReviewAction.displayStarThree(aReview.rating)}" />
									<h:graphicImage class="rating-stars" library="images"
										name="star.ico" alt="rating scheme"
										rendered="#{bookReviewAction.displayStarFour(aReview.rating)}" />
									<h:graphicImage class="rating-stars" library="images"
										name="star.ico" alt="rating scheme"
										rendered="#{bookReviewAction.displayStarFive(aReview.rating)}" />
								</div>
								<p class="review-title">#{aReview.name} &nbsp; #{aReview.date}</p>
								<p class="review-text">#{aReview.text}</p>
							</div>
							</ui:repeat>
						</div>


					</ui:repeat>

				</div>
			</div>
		</div>


	</div>

	<ui:include src="/WEB-INF/templates/footer.xhtml" />
</f:view>
</h:body>
</html>
