<?xml version='1.0' encoding='UTF-8' ?>
<!--  
	Authors: Theo De Villeneuve
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>#{msg['bookViewTitle']}</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600'
		rel='stylesheet' type='text/css' />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputStylesheet library="css" name="management_book.css" />
	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="main.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
	
</h:head>
<h:body>
<f:view locale="#{localeChanger.locale}">
	<div id="wrap" style="height: 1000px">

		<ui:include src="/WEB-INF/templates/header.xhtml" />

		<h:panelGroup rendered="#{not loginBean.logedin}">
			<h1 style="margin-top: 10%">NOT LOGGED IN. PLEASE LOG IN.</h1>
		</h:panelGroup>

		<h:panelGroup rendered="#{loginBean.logedin}">

		<div class="container-fluid main-content">
			<div class="footercorrect">
				<h:form styleClass="form-horizontal">
					<legend>#{msg.accountEditShipInfo}</legend>
					<fieldset>

						<f:event listener="#{managementBean.findShipInfo}"
							type="preRenderView" />
						<div class="rightform">
							<div class="form-group">
								<label class="col-sm-5 control-label" for="shipname">#{msg.accountShipName}</label>
								<div class="col-sm-6">
									<h:inputText id="shipname" size="15" maxlength="15"
										styleClass="form-control personal-form-control"
										value="#{managementBean.ship.shipName}" required="true"
										label="Shipname"
										validatorMessage="This field cannot contains special caracter or digit">
										<f:ajax event="blur" render="shipnamemeerror" />
										<f:validateRegex pattern="[a-zA-Z ]*" />
									</h:inputText>
									<h:message id="shipnamemeerror" for="shipname"
										errorclass="errorsignup" styleClass="has-error errorsignup" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="shiptitle">#{msg['titleInputField']}</label>
								<div class="col-sm-6">
									<h:selectOneMenu id="title" styleClass="form-control"
										value="#{managementBean.ship.shipTitle}">
										<f:selectItems value="#{clientBean.titleValue}" />
									</h:selectOneMenu>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="lastname">#{msg['lastNameInputField']}</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control personal-form-control"
										id="lastname" placeholder="Smith"
										value="#{managementBean.ship.shipLastName}" required="true"
										label="Lastname" size="20" maxlength="20"
										validatorMessage="This field cannot contains special caracter or digit">
										<f:ajax event="blur" render="lastnameerror" />
										<f:validateRegex pattern="[a-zA-Z ]*" />
									</h:inputText>
									<h:message id="lastnameerror" for="lastname"
										errorclass="errorsignup" styleClass="has-error errorsignup" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="firstname">#{msg['firstNameInputField']}</label>
								<div class="col-sm-6">
									<h:inputText styleClass="col-sm-3 form-control" id="firstname"
										placeholder="John"
										value="#{managementBean.ship.shipFirstName}" required="true"
										label="Firstname" size="15" maxlength="15"
										validatorMessage="This field cannot contains special caracter or digit">
										<f:ajax event="blur" render="firstnameerror" />
										<f:validateRegex pattern="[a-zA-Z ]*" />
									</h:inputText>
									<h:message id="firstnameerror" for="firstname"
										errorclass="errorsignup" styleClass="has-error errorsignup" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="company">#{msg['companyNameInputField']}</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control personal-form-control"
										id="company" placeholder="BookBay"
										value="#{managementBean.ship.shipCompany}"
										label="Company name" size="15" maxlength="15"
										validatorMessage="This field cannot contains special caracter">
										<f:ajax event="blur" render="companyerror" />
										<f:validateRegex pattern="[a-zA-Z0-9 ]*" />
									</h:inputText>
									<h:message id="companyerror" for="company"
										errorclass="errorsignup" styleClass="has-error errorsignup" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-5 control-label" for="address1">#{msg['address1InputField']}</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control personal-form-control"
										id="address1" placeholder="1234 Bay Street"
										value="#{managementBean.ship.shipAddress1}" required="true"
										label="Adress 1" size="25" maxlength="25"
										validatorMessage="This field cannot contains special caracter">
										<f:ajax event="blur" render="address1error" />
										<f:validateRegex pattern="[a-zA-Z0-9 ]*" />
									</h:inputText>
									<h:message id="address1error" for="address1"
										errorclass="errorsignup" styleClass="has-error errorsignup" />
								</div>
							</div>
						</div>
						<div class="leftform">
							<div class="form-group">
								<label class="col-sm-5 control-label" for="address2">#{msg['address2InputField']}</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control personal-form-control"
										id="address2" placeholder="1234 Boot Strap"
										value="#{managementBean.ship.shipAddress2}" label="Adress 2"
										size="25" maxlength="25"
										validatorMessage="This field cannot contains special caracter">
										<f:ajax event="blur" render="address2error" />
										<f:validateRegex pattern="[a-zA-Z0-9 ]*" />
									</h:inputText>
									<h:message id="address2error" for="address2"
										errorclass="errorsignup" styleClass="has-error errorsignup" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-5 control-label" for="city">#{msg['cityInputField']}</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control personal-form-control"
										id="city" placeholder="Montreal"
										value="#{managementBean.ship.shipCity}" required="true"
										label="City" size="30" maxlength="30"
										validatorMessage="This field cannot contain special characters or digits">
										<f:ajax event="blur" render="cityerror" />
										<f:validateRegex pattern="[a-zA-Z ]*" />
									</h:inputText>
									<h:message id="cityerror" for="city" errorclass="errorsignup"
										styleClass="has-error errorsignup" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-5 control-label" for="postal">#{msg['postalCodeInputField']}</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control personal-form-control"
										id="postal" placeholder="A1A 1A1"
										value="#{managementBean.ship.shipPostalCode}" required="true"
										label="Postal" size="10" maxlength="10"
										validatorMessage="Error postalcode format : H1W 1R9">
										<f:ajax event="blur" render="postalerror" />
										<f:validateRegex
											pattern="(^\d{5}(-\d{4})?$)|(^[ABCEGHJKLMNPRSTVXY]{1}\d{1}[A-Z]{1} *\d{1}[A-Z]{1}\d{1}$)" />
									</h:inputText>
									<h:message id="postalerror" for="postal"
										errorclass="errorsignup" styleClass="has-error errorsignup" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="country">#{msg['countryInputField']}</label>
								<div class="col-sm-6">
									<h:selectOneMenu id="country"
										styleClass="form-control personal-form-control country-dropdown"
										value="#{managementBean.ship.shipCountry}"
										onchange="changeProvinceList()">
										<f:selectItems styleClass="country-dropdown"
											value="#{clientBean.countryValue}" />
									</h:selectOneMenu>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-5 control-label" for="province">#{msg['provinceInputField']}</label>
								<div class="col-sm-3">
									<h:selectOneMenu id="province" name="province"
										styleClass="form-control personal-form-control"
										value="#{managementBean.ship.shipProvince}">
										<f:selectItems value="#{clientBean.provinceValue}" />
									</h:selectOneMenu>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-5 col-sm-push-2">
									<h:commandButton type="submit" styleClass="btn btn-default"
										value="#{msg['editButton']}"
										action="#{managementBean.editShip()}">
										<f:ajax execute="@form" render="@form"></f:ajax>
									</h:commandButton>
								</div>
							</div>
						</div>
					</fieldset>
				</h:form>
			</div>
		</div>
		</h:panelGroup>
	</div>
	<!-- Start of Footer Div -->
	<ui:include src="/WEB-INF/templates/footer.xhtml" />
	<!-- End of Footer Div -->

	<script type="text/javascript">
		function resetvalue() {
			$(document).ready(function() {
				$('#signuporm').ajaxForm(function() {
					this.reset();
					alert('success');
				});
			});
		}

		function checkSelect1(selVal) {
			alert(selVal);
			sel2 = document.getElementById("province");
			if (selVal == "USA") {
				sel2.disabled = true;
			} else {
				sel2.disabled = false;
			}
		}
	</script>
	</f:view>
</h:body>
</html>
