/*
	Author: Theo, Sean
*/
body {
	margin: 0;
	border: 0;
	padding: 0;
	height: 140%;
	padding-bottom: 4.375em;
	background: #FFF2E7;
	font-family: "Open Sans";
}

#wrap {
	min-height: 1000px;
}

.main-content {
	margin-top: 90px;
	width: 70%;
}

.imgsize {
	width: 150px;
	height: 200px;
}

@media ( min-width : 768px) {
	.form-control {
		width: 160%;
	}
	.leftblock {
		float: left;
		width: 35%;
		height: 50%;
		display: none;
	}
	.rightblock {
		margin-left: auto;
		margin-right: auto;
		width: 1000px;
		height: auto;
	}
	.mainbookinfo {
		width: 90%;
		height: auto;
		margin-left: 2em;
	}
	.imgsize {
		width: x;
		height: x;
	}
	.bookcover {
		display: inline-block;
		width: 150px;
		height: 200px;
		border: 1px solid black;
		vertical-align: top;
	}
	.bookinfo {
		margin-left: 1em;
		vertical-align: top;
		display: inline-block;
		width: 60%;
		height: auto;
	}
	.right {
		float: right;
		margin-right: 3em;
	}
}

.btn-default {
	background: #B9B1A8;
	border-color: #B9B1A8;
	color: #4B4D52;
}

.informations {
	margin-top: 30px;
	float: left;
	margin-left: 2em;
	width: 90%;
	height: auto;
}

.reviewsplace {
	float: left;
	margin-left: 2em;
	width: 90%;
	height: auto;
	margin-bottom: 3em;
	margin-top: 100px;
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default
	{
	background: #D0CABF;
	border-color: #D0CABF;
}

#topbooks {
	width: 790px;
	height: 250px;
	float: left;
	margin-left: 2em;
	margin-top: 50px;
}

.top-book {
	backgroud: yellow;
	height: 250px;
	width: 200px;
	margin-top: 20px;
}

.book-img {
	background: brown;
	width: 130px;
	height: 200px;
	float: left;
}

/* Start of Carousel CSS */
.bxslider {
	height: 250px;
}

.bxslider li {
	height: 250px;
}

.bx-wrapper {
	width: 700px;
	height: 250px;
	margin-left: 50px;
}
/* End of Carousel CSS */
}
.reviews {
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.starContainer {
	display: inline-block;
}

.starRating {
	/* background-image:url('./images/star.ico'); */
	width: 25px;
	height: 25px;
}

.custId {
	visibility: hidden;
}

.customerinfo {
	color: #4B4D52;
	border-radius: 3px;
	background-color: #B9B1A8;
	border-bottom: 1px solid grey;
}

.book-review {
	padding-left: 15px;
	border-bottom: 1px solid;
	border-color: rgba(0, 0, 0, 0.1);
	width: 600px;
	margin-right: calc(100% - 600px);
	float: left;
	height: calc(100% - 5px);
	margin-top: 10px;
}

.review-title {
	font-weight: 600;
	font-size: 16px;
}

.reviewTextArea {
	width: 400px;
	height: 500px;
	resize: none;
}

textarea.form-control {
	height: 100px;
	width: 500px;
}

#review-form\:reviewTitle {
	width: 500px;
}