/*
	Author: Tyler Patricio, Sean-Frankel Gaon Canlas
*/
body 
{
	height: 1000px;
	padding-bottom: 70px;
	font-family: "Open Sans";
	background: #FFF2E7;
}

@media ( max-width : 767px) 
{
	body 
	{
		height: 300%;
	}
}

#headers
{
	padding-top: 2px;
	background-color: #D0CABF;
	float: left;
	width: 1000px;
	height: 33px;

	border: 2px solid black;
	border-radius: 8px;
	box-shadow: 2px 2px 1px black;
}

#pricingSummary
{
	text-align: right;
	margin-right: 68px;
	margin-bottom: 15px;
}

#item
{
	margin-left: -32px;
	margin-right: 372px;
}

#quantity
{
	margin-right: 257px;
}

#checkout
{
	float: right;
}

#cartUpdate
{
	width: 100%;
	text-align: left;
	margin-top: 50px;
	margin-left: 15px;
	float: left;
}

#subtotal-h3 {
	text-align: right;
	width: 100%;
	float: left;
}

#itemsCountUpdate
{
	font-weight: bold;
}

#headers li
{
	display: inline;
	list-style-type: none;
}

#headers h2
{
	display: inline;
	font-size: 24px;
	font-family: 'Sans Pro', sans-serif;
	text-decoration: none;
	margin-right: 15px;
	margin-left: 15px;
	opacity: 1;
	vertical-align: text-center;
}

.booksInCart
{
	width: 1000px;
	min-height: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

.cartedBook
{
	height: 298px;
	border-bottom: 2px solid;
	border-color: rgba(0,0,0,0.1);
}

.bookImage
{
	float: left;
	width: 150px;
	height: 220px;
	margin-left: 20px;
	margin-top: 20px;
}

.bookInfo
{
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	width: 300px;
}

.requestQuantity
{
	float: left;
	margin-top: 40px;
	width: 360px;
}

.pricing
{
	float: left;
	margin-top: 20px;
}

.removeBookBtn
{
	margin-right: 200px;
}