/* Author: Sophie Leduc-Major, Sean Frankel Gaon Canlas */

body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 1000px;
	font-family: "Open Sans";
	background: #FFF2E7;
	width: 100%;
}

#invoiceText {
	resize: none;
	height: 640px;
	width: 710px;
}

#wrapper {
	height: 100%;
}

#content{
	text-align: center;
	margin-top: 50px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#thankyouLbl{
	font-size:50px;
	display: block;
	margin-top:100px;
}


.continue {
	text-decoration: none;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #de8642), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #de8642 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#de8642', endColorstr='#dfdfdf');
	background-color:#de8642;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	margin-bottom:50px;
}

.continue:hover {
	text-decoration: none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #de8642) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #de8642 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#de8642');
	background-color:#dfdfdf;
}

.continue:active {
	text-decoration: none;
	position:relative;
	top:1px;
}