<?xml version="1.0" encoding="UTF-8"?>
<!--  
	Authors: Theo De Villenueve, Sean-Frankel Gaon Canlas, Jhonatan Orjuela, Tyler Patricio
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
</h:head>
<body>
	<ui:composition>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">

				<div class="navbar-header">
					<button id="collapsebutton" class="navbar-toggle"
						data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<h:link class="navbar-brand" outcome="index.xhtml"
						value="#{msg['siteName']}" />
				</div>

				<div class="navbar-collapse collapse">

					<h:form id="search-group"
						class="input-group navbar-form navbar-left" role="search"
						onkeypress="if (event.keyCode == 13) { document.getElementById('search-group:search-btn').click(); return false; }">
						<div class="input-group">

							<div class="input-group-btn">
								<h:selectOneMenu styleClass="btn btn-default" id="typeSearch"
									value="#{displayBooksBean.searchType}">
									<f:selectItem id="title" itemLabel="#{msg['title']}" itemValue="1" />
									<f:selectItem id="author" itemLabel="#{msg['author']}" itemValue="2" />
									<f:selectItem id="genre" itemLabel="#{msg['genre']}" itemValue="3" />
								</h:selectOneMenu>
							</div>
							<h:inputText label="search" id="search"
								class="book-search form-control" required="true"
								value="#{displayBooksBean.searchCredentials}" />
							<span class="input-group-btn"> <h:commandLink
									id="search-btn" class="btn btn-default" action="toResult">
									<span class="glyphicon glyphicon-search"></span>
								</h:commandLink>

							</span>
						</div>

					</h:form>

					<div class="nav navbar-form navbar-right">

						<div class="dropdown-menu dropdown1">
							<h:form id="login-form" class="navbar-form login-form"
								role="login"
								onkeypress="if (event.keyCode == 13) { document.getElementById('login-form:loginbutton').click(); return false; }">
								<h:inputText id="emaillogin"
									styleClass=" input-email form-control"
									value="#{loginBean.email}" required="true" />
								<h:inputSecret styleClass="input-password form-control"
									value="#{loginBean.password}" required="true" />
								<h:commandLink id="loginbutton" type="submit"
									styleClass="btn btn-default" action="#{loginBean.login}">
									<span class="glyphicon glyphicon-chevron-right"></span>
									<f:param name="isbn13"
										value="#{displayBooksBean.singleBook.isbn13}"></f:param>
										<f:param name="ship" value="#{managementBean.ship.id}" />
								</h:commandLink>
							</h:form>
						</div>

						<div id="help-btn" class="right-buttons">
							<h:link id="help-btn" outcome="help.xhtml" styleClass="btn btn-default"
								value="#{msg['help']}" />
						</div>

						<div id="cart-btn" class="right-buttons">
							<h:link outcome="cart.xhtml" styleClass="btn btn-default">
								<span class="glyphicon glyphicon-shopping-cart"></span>
								<span id="numOfBooksInCart" class="badge">#{cartBean.numOfBooksInCart}</span>
							</h:link>
						</div>

						<div id="management-btn" class="right-buttons">
							<h:form id="management-form">
								<h:link id="management-btn" value="#{msg['management']}"
									outcome="management.xhtml" styleClass="btn btn-default"
									rendered="#{loginBean.admin}" />
							</h:form>
						</div>

						<div id="account-btn" class="right-buttons">
							<h:form id="account-form">
								<h:link type="submit" value="#{msg['account']}" id="account-btn"
									rendered="#{loginBean.logedin}" styleClass="btn btn-default"
									outcome="#{accountBean.setClientBean(loginBean.clientBean)}"></h:link>
							</h:form>
						</div>

						<div id="signup-btn" class="right-buttons">
							<h:link id="signup-btn" rendered="#{not loginBean.logedin}"
								outcome="signup.xhtml" styleClass="btn btn-default" value='#{msg["signUp"]}'></h:link>
						</div>

						<div id="logout-btn" class="right-buttons">
							<h:form id="logout-btn">
								<h:commandButton type="submit" value="#{msg['logout']}"
									id="logout-btn" rendered="#{loginBean.logedin}"
									styleClass="btn btn-default" action="#{loginBean.logout}">
									<f:param name="isbn13"
										value="#{displayBooksBean.singleBook.isbn13}"></f:param>
									<f:param name="book" value="#{managementBean.editbook.isbn13}" />
									<f:param name="ship" value="#{managementBean.ship.id}" />
								</h:commandButton>
							</h:form>
						</div>

						<h:panelGroup rendered="#{not loginBean.logedin}">

							<a href="#" class="btn btn-default dropdown-toggle right-buttons"
								data-toggle="dropdown">#{msg['login']}</a>

						</h:panelGroup>

					</div>
					<h:message for="loginmsg" id="loginmsg" styleClass="loginmessage" />
				</div>
			</div>

		</div>

	</ui:composition>
</body>
</html>